<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>about</title>
</head>
<body>
<style>
    body {
        background-color: lightblue;
    }
    h1{
        text-align: center;
    }
    h2{
        text-align: center;
    }
   div.ba {
  position: fixed;
  top: 0;
  right: 0;
  width: 300px;
  border: 1px solid #73AD21;

        background-color: #4CAF50;
  color: white;
  padding: 10px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
}
</style>
<h1> This is about smart health interaction between patient and doctors. </h1>
<h2>ISMART Health is an open, standards based technology<br>
    platform that enables innovators to create apps <br>that seamlessly
    and securely run across the healthcare system</h2>
<div class="ba">
    <a class="btn btn-primary" href="{% url 'base' %}" role="button">Back</a>

</div>



</body>
</html>